@import url("https://fonts.googleapis.com/css2?family=Borel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #161e54;
  --secondary: #a5cdf8;
  --tertiary: #c7e4ff;
  --primary-blue: #d2ccf8;
  --secondary-blue: #dce9f8;
  --primary-purple: #ebccf8;
  --secondary-purple: #f1dafb;
  --primary-orange: #ffdbc0;
  --secondary-orange: #ffe8d7;
  --primary-black: #1f1f1f;
  --secondary-black: #3b3838;
  --tertiary-black: #575252;
  --light-background: #daf6fe;
  --light-yellow: #fffbec;
}

* {
  font-family: "Montserrat", "Arial";
}
