@import url('https://fonts.googleapis.com/css2?family=Borel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-pink: #fe52a8;
  --secondary-pink: #f8a5ce;
  --tertiary-pink: #ffc7e3;
  --primary-blue: #cce0f8;
  --secondary-blue: #dce9f8;
  --primary-purple: #ebccf8;
  --secondary-purple: #f1dafb;
  --primary-orange: #ffdbc0;
  --secondary-orange: #ffe8d7;
  --primary-black: #1f1f1f;
  --secondary-black: #3b3838;
  --tertiary-black: #575252;
  --light-background: #fedaeb;
  --light-yellow: #fffbec;
}

* {
  font-family: 'Montserrat', 'Arial';
}