.experience-section {
  padding: 60px 20px;
  background: var(--light-background);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-section .text-block h1 {
  font-size: 3.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--primary);
}

.experience-section .text-block p {
  font-size: 1.5rem;
  color: black;
  margin: 0;
}

/**/
.experience-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 10px;
  max-width: 90%;
}

.work-experience,
.leadership-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 10px;
}

.experience-card {
  border-radius: 18px;
  padding: 1.5rem;
  padding-bottom: 1rem;
  text-align: left;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.ec1 {
  background-color: var(--secondary);
}

.ec2 {
  background-color: var(--primary-blue);
}

.ec3 {
  background-color: var(--primary-purple);
}

.ec4 {
  background-color: var(--primary-orange);
}

.experience-card:hover {
  transform: translateY(-6px);
}

.experience-card::before {
  content: "";
  position: absolute;
  right: 6px;
  bottom: 6px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: -1;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.experience-card:hover::before {
  opacity: 0.5;
  transform: translate(-4px, -4px);
}

.experience-card ul {
  padding: 1rem;
  margin: 0;
  margin-left: 1rem;
}

.experience-card li {
  margin: 0.5rem 0;
  font-size: 1rem;
  position: relative;
  font-weight: 500;
}

.experience-card p {
  font-size: 1rem;
  position: relative;
  font-weight: 500;
  color: black;
}

/* */
.work-card,
.leadership-card {
  max-width: 700px;
}

.work-card,
.leadership-card {
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 25px;
  text-align: left;
  transition: transform 0.3s ease, background-color 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}

.wc1 {
  background-color: var(--secondary);
}

.wc2 {
  background-color: var(--primary-blue);
}

.lc1 {
  background-color: var(--primary-purple);
}

.lc2 {
  background-color: var(--primary-orange);
}

.wc1:hover {
  background-color: var(--tertiary);
}

.wc2:hover {
  background-color: var(--secondary-blue);
}

.lc1:hover {
  background-color: var(--secondary-purple);
}

.lc2:hover {
  background-color: var(--secondary-orange);
}

.work-card h1,
.leadership-card h1 {
  text-align: center;
}

.work-card,
.leadership-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-card p,
.leadership-card p {
  align-self: flex-start;
}

.work-card h2,
.leadership-card h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--tertiary-black);
  margin: 0 0 1rem;
}

.work-card p span,
.leadership-card p span {
  font-weight: 600;
}

@media (max-width: 1300px) {
  .experience-block {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .experience-block {
    grid-template-columns: 1fr;
  }
}

/* */
.work-avatar,
.leadership-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.work-avatar img,
.leadership-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: white;
}

.experience-card h1,
.work-card h1,
.leadership-card h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333;
}

.experience-card p,
.work-card p,
.leadership-card p {
  font-size: 1rem;
  color: var(--secondary-black);
  line-height: 1.6;
  margin: 0.5rem;
}
