footer {
  background-color: var(--secondary-pink);
  padding: 2rem 1rem;
  text-align: center;
  padding-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h1 {
  font-size: 3.5rem;
  color: var(--primary-pink);
  margin-bottom: 1.5rem;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.footer-nav a {
  color: var(--primary-pink);
  text-decoration: none;
  font-weight: 500;
}

.footer-nav a:hover {
  color: var(--primary-black);
}

footer .copyright {
  font-size: 0.875rem;
  color: var(--primary-black);
}