.project-section {
  padding: 60px 20px;
  background-color: var(--secondary);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section .text-block p {
  font-size: 1.5rem;
  color: var(--primary-black);
  margin: 0;
}

.project-section .text-block h1 {
  font-size: 3.5rem;
  margin: 10px 0 30px;
  color: var(--light-yellow);
}

.project-display {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 50px;
  justify-items: center;
  text-align: left;
  margin-left: 50px;
  margin-right: 40px;
}

.project-card {
  position: relative;
  background-color: var(--light-yellow);
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background-color: var(--tertiary);
  opacity: 0.5;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: -1;
}


.project-image-container {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
}

.project-card div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.project-card h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
  color: var(--primary);
}

.project-card h2 {
  font-size: 1rem;
  font-weight: 550;
  color: var(--tertiary-black);
  margin-bottom: 0.6rem;
}

.project-card p {
  font-size: 0.80rem;
  font-weight: 500;
  color: black;
}

.project-card p span {
  font-weight: 700;
}

.project-card {
  position: relative;
  z-index: 1;
}

.project-card a {
  background: var(--primary);
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.25s;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.project-card a svg {
  fill: white;
}

.project-card a:hover {
  background: white;
  color: var(--primary);
}

.project-card a:hover svg {
  fill: var(--primary);
}

@media (max-width: 1000px) {
  .project-display {
    grid-template-columns: 1fr;
  }

  .project-card {
    max-width: 500px;
  }
}

.status {
  font-weight: 400;
  font-size: 1rem;
}